@media only screen and (max-width: 600px) {


    .head_address {
        display: none;
    }

    .login {
        display: flex;
        width: 30%;
        margin: 0px;
        padding: 0px;
        float: left;
    }

    .login ul li a {
        padding: 0px;
        float: left;
    }

    .socialicon a {
        display: flex;
        width: 50%;
        padding: 5px 5px 0px 5px;
        margin-left: 20px;
        border: 2px dotted rgb(255, 174, 0);
        justify-content: center;
        align-items: center;
        /* display: inline-block; */
        border-radius: 100%;
        float: right;
    }

    .header {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 5%, rgb(8, 8, 96) 35%, rgb(5, 5, 122) 100%);
        position: relative;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header ul {
        /* padding: 0px 20px 0px 20px; */
        display: flex;
        float: right;
        list-style-type: none;
    }

    .header li a {
        position: relative;
        margin: 0px 20px 0px 20px;
        text-decoration: none;
        display: inline-block;
        padding: 20px;
        color: white;
        font-family: poppins;
        font-size: 14px;
        font-weight: 500;
        animation: header 1s ease-in-out;

    }

    /* @keyframes header {
        0% {
            transform: translateY(-100%);
        }
    } */

    .socialicon {
        display: flex;
        flex-direction: row;

    }

    .socialicon a {
        display: flex;
        padding: 5px 5px 0px 5px;
        /* margin-left: 10px; */
        border: 2px dotted rgb(255, 174, 0);
        justify-content: center;
        align-items: center;
        display: inline-block;
        border-radius: 100%;
        float: right;
    }

    .socialicon a:hover {
        background-color: rgba(255, 174, 0, 0.525);
    }

}

/* SECOND HEADER SECTION */
@media only screen and (max-width: 600px) {
    .secondhead {
        width: 100%;
        background-color: rgb(255, 255, 255);
        /* padding: 0px 20px 0px 50px; */
        display: flex;
        flex-direction: column;
        /* position: relative; */
        justify-content: center;
        /* align-items: center; */
        height: 230px;
        position: relative;
        top: 0px;
        z-index: 5;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.199);
    }

    #logo {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navication {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(172, 172, 172);
    }

    nav ul li {
        /* margin-top: 100px; */
        list-style-type: none;
        display: inline-block;
        padding: 10px 10PX;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-family: poppins;
        font-weight: 600;
        text-align: center;
    }

    nav ul li a {
        padding: 0px 0PX;
        color: black;
        font-size: 16PX;
        font-family: poppins;
        font-weight: 600;
        text-align: center;
        height: 100px;
    }

    nav ul li a:hover {
        background-color: rgb(8, 8, 96);
        border-top: 3px double rgb(255, 157, 0);
        border-bottom: 4px solid rgb(255, 157, 0);
        color: #ffffff;
    }

    /* .......BUTTON............. */
    #btn {
        width: 100%;
        top: 18px;
        margin-bottom: 30px;
        display: flex;
        /* flex: 1; */
        position: relative;
        justify-content: center;
        align-items: center;
    }

    #btn button {
        position: relative;
        padding: 10px 30px;
        float: none;
        background-color: rgb(8, 8, 96);
        text-decoration: none;
        font-size: 17px;
        font-family: poppins;
        font-weight: 600;
        border: 3px solid rgb(255, 174, 0);
        border-radius: 20px;
        /* animation-name: enquirybtn;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards; */
        text-shadow: 2px 2px 8px #ffae00;
    }

    @keyframes enquirybtn {
        0% {
            right: 0px
        }

        50% {
            right: 0px;
        }

        100% {
            right: 0px;
        }
    }

    button a {
        color: aliceblue;
        /* margin: 0px 50px;
    padding: 0px 50px; */

    }

    #btn button:hover {
        background-color: rgb(255, 174, 0);
        background-size: cover;
        border: 3px solid rgb(255, 255, 255);
    }
}

/* ............... TAB VIEW HEADER END.................. */

@media only screen and (min-width: 601px) and (max-width:1000px) {


    .head_address {
        display: none;
    }

    .login {
        display: flex;
        width: 30%;
        margin: 0px;
        padding: 0px;
        float: left;
    }

    .login ul li a {
        padding: 0px;
        float: left;
    }

    .socialicon a {
        display: flex;
        width: 50%;
        padding: 5px 5px 0px 5px;
        margin-left: 20px;
        border: 2px dotted rgb(255, 174, 0);
        justify-content: center;
        align-items: center;
        /* display: inline-block; */
        border-radius: 100%;
        float: right;
    }

    .header {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 5%, rgb(8, 8, 96) 35%, rgb(5, 5, 122) 100%);
        position: relative;
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header ul {
        /* padding: 0px 20px 0px 20px; */
        display: flex;
        float: right;
        list-style-type: none;
    }

    .header li a {
        position: relative;
        margin: 0px 20px 0px 20px;
        text-decoration: none;
        display: inline-block;
        padding: 20px;
        color: white;
        font-family: poppins;
        font-size: 14px;
        font-weight: 500;
        animation: header 1s ease-in-out;

    }

    /* @keyframes header {
        0% {
            transform: translateY(-100%);
        }
    } */

    .socialicon {
        display: flex;
        flex-direction: row;

    }

    .socialicon a {
        display: flex;
        padding: 5px 5px 0px 5px;
        /* margin-left: 10px; */
        border: 2px dotted rgb(255, 174, 0);
        justify-content: center;
        align-items: center;
        display: inline-block;
        border-radius: 100%;
        float: right;
    }

    .socialicon a:hover {
        background-color: rgba(255, 174, 0, 0.525);
    }

}

/* SECOND HEADER SECTION */
@media only screen and (min-width: 601px) and (max-width:1000px) {
    .secondhead {
        width: 100%;
        background-color: rgb(255, 255, 255);
        /* padding: 0px 20px 0px 50px; */
        display: flex;
        flex-direction: row;
        /* position: relative; */
        justify-content: center;
        /* align-items: center; */
        height: auto;
        position: relative;
        top: 0px;
        z-index: 5;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.199);
    }

    #logo {
        margin-top: 10px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navication {
        width: 54%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        /* margin-top: 100px; */
        list-style-type: none;
        display: inline-block;
        padding: 10px 15PX;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-family: poppins;
        font-weight: 600;
        text-align: center;
    }

    nav ul li a {
        padding: 0px 0PX;
        color: black;
        font-size: 16PX;
        font-family: poppins;
        font-weight: 600;
        text-align: center;
        height: 100px;
    }

    nav ul li a:hover {
        background-color: rgb(8, 8, 96);
        border-top: 3px double rgb(255, 157, 0);
        border-bottom: 4px solid rgb(255, 157, 0);
        color: #ffffff;
    }

    /* .......BUTTON............. */
    #btn {
        width: 30%;
        top: 18px;
        margin-bottom: 30px;
        display: flex;
        /* flex: 1; */
        position: relative;
        justify-content: center;
        align-items: center;
    }

    #btn button {
        position: relative;
        padding: 10px 30px;
        float: none;
        background-color: rgb(8, 8, 96);
        text-decoration: none;
        font-size: 17px;
        font-family: poppins;
        font-weight: 600;
        border: 3px solid rgb(255, 174, 0);
        border-radius: 20px;
        /* animation-name: enquirybtn;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards; */
        text-shadow: 2px 2px 8px #ffae00;
    }

    @keyframes enquirybtn {
        0% {
            right: 0px
        }

        50% {
            right: 0px;
        }

        100% {
            right: 0px;
        }
    }

    button a {
        color: aliceblue;
        /* margin: 0px 50px;
    padding: 0px 50px; */

    }

    #btn button:hover {
        background-color: rgb(255, 174, 0);
        background-size: cover;
        border: 3px solid rgb(255, 255, 255);
    }
}

/* ...............HEADER END.................. */



/* ///////////////////////////////////////////////////////////// */


/* ...............BANNER START................ */
@media only screen and (max-width: 480px) {
    body {
        margin: 0px;
        padding: 0px;
    }

    .banner {
        /* display: flex; */
        position: relative;
        width: 100%;
        background-image: url(../project/image/banner2.jpg);
        background-size: cover;
        height: 250px;
        z-index: 1;

    }

    /* ............FISRT CHILD.......... */
    #ban1 {
        width: 49.3%;
        margin-top: 15%;
        margin-left: 7%;
        animation: ban1 2s ease-in-out;
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 26px;
        font-family: 'poppins';
    }

    #ban1 p {
        color: white;
        font-size: 26px;
        font-family: poppins;
        /* letter-spacing: 2px; */
        /* word-spacing: 6px; */
        font-weight: 500;
        line-height: 40px;
    }

    #ban1 span {
        background-color: #ffae00;
        padding: 3px 8px;
        font-size: 20px;

    }

    @keyframes ban1 {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }

    }

    /* ............SECOND CHILD.......... */
    #ban2 {
        width: 49.3%;
    }

    #ban2 img {
        /* position: absolute; */
        width: 30%;
        height: 55%;
        margin-top: 12%;
        margin-left: 3%;
        /* animation-name: bannerimg;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards; */
    }

    @keyframes bannerimg {
        0% {
            top: 0px
        }

        50% {
            top: 0px;
        }

        100% {
            top: 0px;
        }
    }


    #ban1 button {
        display: none;
        background-color: transparent;
        border: 2px solid #ffae00;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 20px;
        font-style: italic;

    }

    #ban1 button:hover {
        background-color: #ffae00;
        border: 2px solid #ffae00;
        padding: 10px 25px;
        font-size: 20px;
        margin-top: 20px;
        border-radius: 20px;
        text-shadow: 2px 3px 2px black;

    }
}

/* .....................BANNER SECTION END........................... */


@media only screen and (min-width: 481px) and (max-width: 1000px) {
    .banner {
        /* display: flex; */
        position: relative;
        width: 100%;
        background-image: url(../project/image/banner2.jpg);
        background-size: cover;
        height: 30rem;
        z-index: 1;

    }

    /* ............FISRT CHILD.......... */
    #ban1 {
        width: 49%;
        margin-top: 15%;
        margin-left: 7%;
        animation: ban1 2s ease-in-out;
    }

    h1 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-family: 'poppins';
    }

    #ban1 p {
        color: white;
        font-size: 40px;
        font-family: poppins;
        /* letter-spacing: 2px; */
        /* word-spacing: 6px; */
        font-weight: 500;
        line-height: 60px;
    }

    #ban1 span {
        background-color: #ffae00;
        padding: 3px 8px;
        font-size: 30px;

    }

    @keyframes ban1 {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }

    }

    /* ............SECOND CHILD.......... */
    #ban2 {
        width: 49%;
    }

    #ban2 img {
        /* position: absolute; */
        width: 40%;
        height: 50%;
        margin-top: 15%;
        margin-left: 1%;
        animation-name: bannerimg;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }

    @keyframes enquirybtn {
        0% {
            right: 13px
        }

        50% {
            right: -13px;
        }

        100% {
            right: 13px;
        }
    }

    #ban1 button {
        background-color: transparent;
        border: 2px solid #ffae00;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-left: 10px;
        border-radius: 20px;
        font-style: italic;

    }
}

/* .....................BANNER SECTION END........................... */

/* ............ABOUT SECTION.................................. */
@media only screen and (max-width: 480px) {


    .abt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    #abt1 {
        width: 100%;
        /* background-color: #ffae00; */
        font-family: poppins;
        animation: abt1 2s ease-in-out;
        margin-top: 30px;

    }

    #abt1 h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
        line-height: 40px;
    }

    #abt1 h4 {
        text-align: center;
    }

    h2 span {
        color: #ffae00;
    }

    #abt1 p {
        color: black;
        margin-top: 30px;
        font-size: 16px;
        text-align: justify;
    }

    .dashed {
        border: 2px dashed #ffae00;
        width: 75%;
        margin-left: 12%;
        margin-top: 20px;

    }

    #abt1 button {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffae00;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        margin-left: 130px;
        border-radius: 20px;
        font-style: italic;

    }

    #abt1 button:hover {
        background-color: #ffae00;
        border: 2px solid #ffae00;
        padding: 10px 25px;
        margin-top: 20px;
        border-radius: 20px;
        text-shadow: 2px 3px 2px black;

    }

    #abt2 {
        width: 100%;
        animation: abt2 2s ease-in-out;
    }

    #abt2 img {
        width: 100%;
    }

    @keyframes abt1 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }

    }

    @keyframes abt2 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }

    }
}

/* ................ABOUT SECTION END...................... */

/* ............ TAB VIEW ABOUT SECTION.................................. */
@media only screen and (min-width: 481px) and (max-width:1000px) {


    .abt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
    }

    #abt1 {
        width: 100%;
        /* background-color: #ffae00; */
        font-family: poppins;
        animation: abt1 2s ease-in-out;
        margin-top: 30px;

    }

    #abt1 h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
        line-height: 40px;
    }

    #abt1 h4 {
        text-align: center;
    }

    h2 span {
        color: #ffae00;
    }

    #abt1 p {
        color: black;
        margin-top: 30px;
        font-size: 14px;
        text-align: justify;
        /* margin: 10px; */
    }

    .dashed {
        border: 2px dashed #ffae00;
        width: 75%;
        margin-left: 12%;
        margin-top: 20px;

    }

    #abt1 button {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffae00;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        margin-left: 300px;
        border-radius: 20px;
        font-style: italic;

    }

    #abt1 button:hover {
        background-color: #ffae00;
        border: 2px solid #ffae00;
        padding: 10px 25px;
        margin-top: 20px;
        border-radius: 20px;
        text-shadow: 2px 3px 2px black;

    }

    #abt2 {
        width: 100%;
        animation: abt2 2s ease-in-out;
    }

    #abt2 img {
        width: 100%;
    }

    @keyframes abt1 {
        0% {
            opacity: 0;
            transform: translateX(50%);
        }

    }

    @keyframes abt2 {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }

    }
}

/* ................ABOUT SECTION END...................... */


/* ................ MOBILE VIEW SERVICE SECTION START................. */
@media only screen and (max-width: 480px) {
    .service {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 10px;
        background-image: url(../project/image/servicebg.png);
        background-size: cover;
        /* background-position: center; */
        background-color: rgb(245, 245, 245);
        font-family: poppins;
        display: flex;
        /* justify-content: space-around;
    align-items: center; */
        flex-wrap: wrap;
    }

    .service_inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0%;
        padding: 0%;
    }

    .service_inner1 {
        display: flex;
        justify-content: space-around;
        width: 100%;
        /* border: 2px solid #333; */
        padding: 20px;
    }

    .service h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
    }

    .service h4 {
        font-size: 20px;
        text-align: center;
    }

    .service h3 {
        font-size: 26px;
        /* margin-top: 25px; */
        text-align: center;
    }

    .ser1,
    .ser2,
    .ser3 {
        width: auto;
        height: 370px;
        margin: 15px;
        padding: 15px;
        background-color: #ffae00;
        display: flex;
        flex: 1;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        /* align-self: center; */
        animation: ser1 1s 4s ease-out;
    }

    .ser2 {
        animation: ser2 1s 4s ease-out;

    }

    .ser3 {
        animation: ser3 1s 4s ease-out;

    }

    /* .ser h3 {
        font-size: 12px;
        margin-top: 10px;
    } */

    .ser1:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .ser2:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .ser3:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .service_inner .dashed {
        margin-top: 10px;
        margin-left: 10px;
        border: 2px solid #ffae00;
        width: 50%;
    }

    .service button {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffffff;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        /* margin-top: 20px; */
        margin-left: 0px;
        margin-top: 10px;
        border-radius: 100px;
        font-style: italic;
    }

    .service button:hover {
        background-color: #ffae00;
        border: 2px dashed #ffffff;
        padding: 8px 25px;
        /* margin-top: 20px; */
        border-radius: 100px;
        text-shadow: 2px 3px 2px black;
    }

    #serbtn {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffffff;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 100px;
        font-style: italic;
    }

    @keyframes ser1 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
    }

    @keyframes ser2 {
        0% {
            opacity: 0;
            transform: translatey(0%);
        }
    }

    @keyframes ser3 {
        0% {
            opacity: 0;
            transform: translatex(0%);
        }
    }
}


/* ..............................SERVICE SECTION END................................. */


/* ................ TAB VIEW SERVICE SECTION START................. */
@media only screen and (min-width: 481px) and (max-width:1000px) {
    .service {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 10px;
        background-image: url(../project/image/servicebg.png);
        background-size: cover;
        background-color: rgb(245, 245, 245);
        font-family: poppins;
        display: flex;
        flex-wrap: wrap;
    }

    .service_inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0%;
        padding: 0%;
    }

    .service_inner1 {
        display: flex;
        justify-content: space-around;
        width: 100%;
        /* border: 2px solid #333; */
        padding: 20px;
    }

    .service h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
    }

    .service h4 {
        font-size: 20px;
        text-align: center;
    }

    .service h3 {
        font-size: 22px;
        /* margin-top: 25px; */
        text-align: center;
    }

    .ser1,
    .ser2,
    .ser3 {
        width: 300px;
        height: auto;
        margin: 15px;
        padding: 15px;
        background-color: #ffae00;
        display: flex;
        flex: 1;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        /* align-self: center; */
        animation: ser1 1s 4s ease-out;
    }

    .ser2 {
        animation: ser2 1s 4s ease-out;

    }

    .ser3 {
        animation: ser3 1s 4s ease-out;

    }

    /* .ser h3 {
        font-size: 12px;
        margin-top: 10px;
    } */

    .ser1:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .ser2:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .ser3:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .service_inner .dashed {
        margin-top: 10px;
        margin-left: 10px;
        border: 2px solid #ffae00;
        width: 50%;
    }

    .service button {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffffff;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        /* margin-top: 20px; */
        margin-left: 0px;
        margin-top: 10px;
        border-radius: 100px;
        font-style: italic;
    }

    .service button:hover {
        background-color: #ffae00;
        border: 2px dashed #ffffff;
        padding: 8px 25px;
        /* margin-top: 20px; */
        border-radius: 100px;
        text-shadow: 2px 3px 2px black;
    }

    #serbtn {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffffff;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 100px;
        font-style: italic;
    }

    @keyframes ser1 {
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes ser2 {
        0% {
            opacity: 0;
            transform: translatey(-50%);
        }
    }

    @keyframes ser3 {
        0% {
            opacity: 0;
            transform: translatex(50%);
        }
    }
}

/* .......................................TAB VIew SERVICE END........................ */

/* ............................... MOBILE VIEW MAP SECTION START................................. */
@media only screen and (max-width: 480px) {
    .form_section {
        /* position: relative; */
        background-color: rgb(229, 227, 227);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* margin: 40px 0px; */

    }

    #form1 {
        width: 95%;
        height: auto;
        display: flex;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 12px 15px;
        line-height: 20px;
        margin: 0px 15px;
        border-radius: 15px;
        /* box-shadow: 0px 0px 30px 1px #ffae0038; */
        border: 3px dashed #ffae00;

    }

    input {
        width: 100%;
        padding: 10px 30%;
        margin: 10px 0px;
    }

    #form1 h3 {
        font-size: 35px;
        font-weight: 800;
        color: rgb(8, 8, 96);
        margin: 20px 0px;
        text-align: center;
    }

    #button {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: auto;
        background-color: rgb(8, 8, 96);
        color: #ffffff;
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid #ffae00;
        margin-left: 100px;
    }

    #button:hover {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: 130px;
        background-color: transparent;
        color: rgb(8, 8, 96);
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid rgb(8, 8, 96);
        margin-left: 220px;
    }

    .detail {
        display: flex;
        display: inline-block;
        width: 95%;
        margin-top: 30px;
        padding: 25px;
        background-color: rgb(8, 8, 96);
        border-radius: 15px;
    }

    .detail h4 {
        font-weight: 500;
        color: #ffffff;
    }

    .detail h2 {
        font-size: 30px;
        color: #ffffff;
        margin: 20px 0PX 30PX 0px;

    }

    #dlist ul li {
        color: #ffffff;
        margin-left: 23px;
        margin-top: 15px;
        font-size: 18px;
    }
}

/* ..........................TAB VIEW MAP SECTION start........................................ */

@media only screen and (min-width: 481px) and (max-width:1000px) {
    .form_section {
        /* position: relative; */
        background-color: rgb(229, 227, 227);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* margin: 40px 0px; */

    }

    #form1 {
        width: 100%;
        height: auto;
        display: flex;
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
        line-height: 40px;
        margin: 0px 10px;
        border-radius: 15px;
        /* box-shadow: 0px 0px 30px 1px #ffae0038; */
        border: 3px dashed #ffae00;

    }

    input {
        width: 100%;
        padding: 10px 30%;
        margin: 10px 0px;
    }

    #form1 h3 {
        font-size: 35px;
        font-weight: 800;
        color: rgb(8, 8, 96);
        margin: 20px 0px;
        text-align: center;
    }

    #button {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: auto;
        background-color: rgb(8, 8, 96);
        color: #ffffff;
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid #ffae00;
        margin-left: 300px;
    }

    #button:hover {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: 130px;
        background-color: transparent;
        color: rgb(8, 8, 96);
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid rgb(8, 8, 96);
        margin-left: 220px;
    }

    .detail {
        display: flex;
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 30px;
        padding: 25px;
        background-color: rgb(8, 8, 96);
        border-radius: 15px;
    }

    .detail h4 {
        font-weight: 500;
        color: #ffffff;
    }

    .detail h2 {
        font-size: 30px;
        color: #ffffff;
        margin: 20px 0PX 30PX 0px;

    }

    #dlist ul li {
        color: #ffffff;
        margin-left: 23px;
        margin-top: 15px;
        font-size: 18px;
    }
}

/* ..........................MAP SECTION END........................................ */


/* .......................MOBILE VIew FOOTER START.................................. */
@media only screen and (max-width: 600px) {
    .footer {
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 30%, rgb(8, 8, 96) 100%, rgb(5, 5, 122) 60%);
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        /* justify-content: center; */
        margin-bottom: 0px;
        /* align-items: center; */
        padding-top: 30px;
    }

    .footer ul li a {
        font-size: 16px;
        color: #ffffff;
    }

    .footer li a:hover {
        color: #ffae00;
    }

    /* #footh3 {
        margin-left: 120px;
        padding: 0px;
        text-align: start;
    } */

    .quick_links li {
        margin-top: 20px;
        color: #ffffff;
    }

    .foot1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px 20px;
    }

    .foot2 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 0px;
        left: 0px;
        padding: 0px 20px;
    }

    .our_services {
        margin-top: 23px;
    }

    .foot3 {
        display: flex;
        justify-content: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px 20px;
    }

    .foot4 {
        display: flex;
        justify-content: none;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        padding: 0px 20px;
        text-align: center;
    }

    .foot1 p {
        margin-top: 20px;
        color: #ffffff;
    }

    .foot1 img {
        margin-left: 0px;
    }

    .foot1 button {
        background-color: rgb(8, 8, 96);
        border: 3px solid #ffffff;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 500;
        /* margin-top: 20px; */
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 30px;
        border-radius: 100px;
        font-style: italic;
    }

    .foot1 button:hover {
        background-color: #ffae00;
        border: 3px solid #ffffff;
        padding: 10px 25px;
        /* margin-top: 20px; */
        border-radius: 20px;
        text-shadow: 2px 3px 2px black;
    }

    .footer ul li {
        margin-left: 15px;
        margin-top: 20px;
        list-style-type: none;
        color: #ffffff;
        margin-bottom: 20px;
        font-family: poppins;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .footer h3 {
        font-size: 34px;
        margin-top: 30px;
        color: #ffffff;
    }

    .foot4 {
        color: #ffffff;
        font-family: poppins;

    }

    .foot4 span {
        font-size: 20px;
        font-weight: 800;
        color: #ffae00;
    }

    p span {
        text-align: center;
        line-height: 50px;
    }

    .foot1 p {
        text-align: center;
    }

    /* ................................FOOT TWO...................................... */
    .foot_two {
        background-color: black;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot_two h4 {
        font-size: 16px;
        font-weight: 400;
        font-family: poppins;
        color: #ffffff;
        text-align: start;
    }
}

/* ................................ MOBILE VIEW FOOTER END...................................... */

/* .......................tab VIew FOOTER START.................................. */
@media only screen and (min-width: 481px) and (max-width:1000px) {
    .footer {
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 30%, rgb(8, 8, 96) 100%, rgb(5, 5, 122) 60%);
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        /* justify-content: center; */
        margin-bottom: 0px;
        /* align-items: center; */
        padding-top: 30px;
    }

    .footer ul li a {
        font-size: 16px;
        color: #ffffff;
    }

    .footer li a:hover {
        color: #ffae00;
    }


    .quick_links li {
        margin-top: 20px;
        color: #ffffff;
    }

    .foot1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0px 20px;
    }

    .foot2 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 0px;
        left: 0px;
        padding: 0px 20px;
    }

    .our_services {
        margin-top: 23px;
    }

    .foot3 {
        display: flex;
        justify-content: none;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px 20px;
    }

    .foot4 {
        display: flex;
        justify-content: none;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-bottom: 20px;
        padding: 0px 20px;
        text-align: center;
    }

    .foot1 p {
        margin-top: 20px;
        color: #ffffff;
    }

    .foot1 img {
        margin-left: 0px;
    }

    .foot1 button {
        background-color: rgb(8, 8, 96);
        border: 3px solid #ffffff;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 500;
        /* margin-top: 20px; */
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 30px;
        border-radius: 100px;
        font-style: italic;
    }

    .foot1 button:hover {
        background-color: #ffae00;
        border: 3px solid #ffffff;
        padding: 10px 25px;
        /* margin-top: 20px; */
        border-radius: 20px;
        text-shadow: 2px 3px 2px black;
    }

    .footer ul li {
        margin-left: 15px;
        margin-top: 20px;
        list-style-type: none;
        color: #ffffff;
        margin-bottom: 20px;
        font-family: poppins;
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .footer h3 {
        font-size: 34px;
        margin-top: 30px;
        color: #ffffff;
    }

    .foot4 {
        color: #ffffff;
        font-family: poppins;

    }

    .foot4 span {
        font-size: 20px;
        font-weight: 800;
        color: #ffae00;
    }

    p span {
        text-align: center;
        line-height: 50px;
    }

    .foot1 p {
        text-align: center;
    }

    /* ................................FOOT TWO...................................... */
    .foot_two {
        background-color: black;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot_two h4 {
        font-size: 16px;
        font-weight: 400;
        font-family: poppins;
        color: #ffffff;
        text-align: start;
    }
}

/* ................................FOOTER END...................................... */




/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ................ MOBILE VIEW SERVICE PAGE START................. */
@media only screen and (max-width: 600px) {
    .service_page {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 10px;
        background-image: url(../project/image/servicebg.png);
        background-size: cover;
        /* background-position: center; */
        background-color: rgb(245, 245, 245);
        font-family: poppins;
        display: flex;
        /* justify-content: space-around;
    align-items: center; */
        flex-wrap: wrap;
    }

    .service1,
    .service2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0%;
        padding: 0%;
    }

    .service1,
    .service2 {
        display: flex;
        justify-content: space-around;
        width: 100%;
        /* border: 2px solid #333; */
        padding: 20px;
    }

    .service_page h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
    }

    .service_page h4 {
        font-size: 20px;
        text-align: center;
    }

    .service_page h3 {
        font-size: 26px;
        /* margin-top: 25px; */
        text-align: center;
    }

    .serpage1,
    .serpage2,
    .serpage3,
    .serpage4,
    .serpage5,
    .serpage6 {
        width: auto;
        height: auto;
        margin: 15px;
        padding: 15px;
        background-color: #ffae00;
        display: flex;
        flex: 1;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        /* align-self: center; */
        animation: ser1 1s 4s ease-out;
    }

    .serpage1,
    .serpage4 {
        animation: ser1 1s 2s ease-out;
    }

    .serpage2,
    .serpage5 {
        animation: ser2 1s 2s ease-out;

    }

    .serpage3,
    .serpage6 {
        animation: ser3 1s 2s ease-out;

    }

    /* .ser h3 {
        font-size: 12px;
        margin-top: 10px;
    } */

    .serpage1:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .serpage2:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .serpage3:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .service_inner .dashed {
        margin-top: 10px;
        margin-left: 10px;
        border: 2px dashed #ffae00;
        width: 50%;
    }

    .service button {
        background-color: rgb(8, 8, 96);
        border: 3px solid #ffffff;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        /* margin-top: 20px; */
        margin-left: 0px;
        margin-top: 10px;
        border-radius: 100px;
        font-style: italic;
    }

    .service button:hover {
        background-color: #ffae00;
        border: 3px solid #ffffff;
        padding: 8px 25px;
        /* margin-top: 20px; */
        border-radius: 100px;
        text-shadow: 2px 3px 2px black;
    }

    #serbtn {
        background-color: rgb(8, 8, 96);
        border: 2px solid #ffffff;
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 100px;
        font-style: italic;
    }

    /* #serbtn:hover {
        background-color: #ffae00;
        border: 2px dashed #ffffff;
        padding: 0px 25px;
    border-radius: 100px;
    text-shadow: 2px 3px 2px black;
}*/

    @keyframes ser1 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
    }

    @keyframes ser2 {
        0% {
            opacity: 0;
            transform: translatey(0%);
        }
    }

    @keyframes ser3 {
        0% {
            opacity: 0;
            transform: translatex(0%);
        }
    }
}


/* ..............................SERVICE SECTION END................................. */


/* ................ TAB VIEW SERVICE PAGE  START................. */
@media only screen and (min-width: 601px) and (max-width:1000px) {
    .service_page {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 10px;
        background-image: url(../project/image/servicebg.png);
        background-size: cover;
        background-color: rgb(245, 245, 245);
        font-family: poppins;
        display: flex;
        flex-wrap: wrap;
    }

    .service1,
    .service2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0%;
        padding: 0%;
    }

    /* .service1,
        .service2 {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 20px;
        } */

    .service_page h2 {
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
    }

    .service_page h4 {
        font-size: 20px;
        text-align: center;
    }

    .service_page h3 {
        font-size: 36px;
        text-align: center;
    }

    .serpage1,
    .serpage2,
    .serpage3,
    .serpage4,
    .serpage5,
    .serpage6 {
        width: auto;
        height: auto;
        margin: 15px;
        padding: 15px;
        background-color: #ffae00;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        animation: ser1 1s 4s ease-out;
    }

    .serpage1,
    .serpage4 {
        animation: ser1 1s 2s ease-out;
    }

    .serpage2,
    .serpage5 {
        animation: ser2 1s 2s ease-out;

    }

    .serpage3,
    .serpage6 {
        animation: ser3 1s 2s ease-out;

    }

    .serpage1:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .serpage2:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .serpage3:hover {
        box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.356);
    }

    .service_inner .dashed {
        margin-top: 10px;
        margin-left: 10px;
        border: 2px dashed #ffae00;
        width: 50%;
    }

    .service_page button {
        background-color: rgb(8, 8, 96);
        border: 3px solid #ffffff;
        padding: 10px 30px;
        font-size: 22px;
        font-weight: 500;
        /* margin-top: 20px; */
        margin-left: 0px;
        margin-top: 10px;
        border-radius: 100px;
        font-style: italic;
    }

    .service_page button:hover {
        background-color: #ffae00;
        border: 2px dashed #ffffff;
        padding: 10px 30px;
        /* margin-top: 20px; */
        border-radius: 100px;
        text-shadow: 2px 3px 2px black;
    }

    #serbtn {
        background-color: rgb(8, 8, 96);
        border: 3px solid #ffffff;
        padding: 10px 25px;
        font-size: 20px;
        font-weight: 500;
        border-radius: 100px;
        font-style: italic;
    }

    @keyframes ser1 {
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
    }

    @keyframes ser2 {
        0% {
            opacity: 0;
            transform: translatey(0%);
        }
    }

    @keyframes ser3 {
        0% {
            opacity: 0;
            transform: translatex(0%);
        }
    }
}

/* .......................................TAB VIRE SERVICE END........................ */



/* ...................MOBILE VIEW FORM SECTION START.................. */
@media only screen and (max-width: 600px) {
    .contact_form {
        background-color: rgb(229, 227, 227);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* margin: 40px 0px; */

    }

    #form2 {
        width: 100%;
        height: auto;
        display: flex;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 30px 50px;
        line-height: 40px;
        border-radius: 15px 15PX 15px 15px;
        border: 3px dashed #ffae00;

    }

    input {
        width: 100%;
        padding: 10px 30%;
    }
    #form2 h3 {
        font-size: 35px;
        color: rgb(8, 8, 96);
        margin: 20px 0px;
        text-align: center;
    }

    #button {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: 130px;
        background-color: rgb(8, 8, 96);
        color: #ffffff;
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid #ffae00;
        margin-left: 100px;
    }

    #button:hover {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: 130px;
        background-color: transparent;
        color: rgb(8, 8, 96);
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px dashed rgb(8, 8, 96);
        margin-left: 170px;
    }

    .contact {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        /* display: inline-block; */
        width: 100%;
        padding: 25px;
        background-color: rgb(8, 8, 96);
        border-radius: 15px 15PX 15px 15px;
        border: 3px dashed #ffae00;
        margin-top: 20px;
        /* justify-content: center; */
        align-items: center;
    }

    .contact h4 {
        font-weight: 500;
        color: #ffffff;
    }

    .contact h2 {
        font-size: 32px;
        color: #ffffff;
        margin: 20px 0PX 30PX 0px;

    }

    #conlist {
        display: flex;
        justify-content: center;
        margin: 15px 0px;
    }

    #conlist h4 {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 22px;
    }

    .contact_socialicon a {
        display: flex;
        padding: 7px 7px 0px 7px;
        margin: 15px;
        border: 2px dotted rgb(255, 174, 0);
        justify-content: center;
        align-items: center;
        display: inline-block;
        border-radius: 100%;
        float: center;
    }

    .contact_socialicon a:hover {
        background-color: rgb(255, 174, 0);
    }

}

/* ...................TAB VIEW FORM SECTION START.................. */
@media only screen and (min-width: 601px) and (max-width:1000px) {
    .contact_form {
        background-color: rgb(229, 227, 227);
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* margin: 20PX; */

    }

    #form2 {
        width: 90%;
        height: auto;
        display: flex;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 30px 50px;
        line-height: 40px;
        border-radius: 15px 15PX 15px 15px;
        border: 3px dashed #ffae00;

    }

    input {
        width: 100%;
        padding: 10px 30%;
    }
    #form2 h3 {
        font-size: 50px;
        color: rgb(8, 8, 96);
        margin: 20px 0px;
        text-align: center;
    }

    #button {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: 130px;
        background-color: rgb(8, 8, 96);
        color: #ffffff;
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid #ffae00;
        margin-left: 250px;
    }

    #button:hover {
        margin-top: 20px;
        padding: 10px 30px 10px 20px;
        width: 130px;
        background-color: transparent;
        color: rgb(8, 8, 96);
        border-radius: 100px;
        font-size: 18px;
        font-family: poppins;
        font-style: italic;
        border: 3px solid rgb(8, 8, 96);
        /* margin-left: 170px; */
    }

    .contact {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 600px;
        /* display: inline-block; */
        width: 90%;
        padding: 25px;
        background-color: rgb(8, 8, 96);
        border-radius: 15px 15PX 15px 15px;
        border: 3px dashed #ffae00;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .contact h4 {
        font-weight: 500;
        color: #ffffff;
    }

    .contact h2 {
        font-size: 32px;
        color: #ffffff;
        margin: 20px 0PX 30PX 0px;

    }

    #conlist {
        display: flex;
        justify-content: center;
        margin: 15px 0px;
    }

    #conlist h4 {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 22px;
    }

    .contact_socialicon a {
        display: flex;
        padding: 7px 7px 0px 7px;
        margin: 15px;
        border: 2px dotted rgb(255, 174, 0);
        justify-content: center;
        align-items: center;
        display: inline-block;
        border-radius: 100%;
        float: center;
    }

    .contact_socialicon a:hover {
        background-color: rgb(255, 174, 0);
    }

}