* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    /* overflow: hidden; */
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    font-family: poppins;
}

h2 {
    font-size: 50px;
}

h3 {
    font-family: poppins;
    color: white;
    font-size: 26px;
    font-weight: 500px;
}

h5 {
    color: white;
    font-size: 12px;
}

p {
    font-family: poppins;
}



/* SECOND HEADER SECTION */
.secondhead {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 84px;
    position: sticky;
    top: 0px;
    z-index: 5;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.199);
}
.navbarNav{
    margin-top: 500px;
}

/* #logo {
    width: 15%;
} */

/* .navication {
    display: flex;
    align-items: center;
} */

/* ul li { */
    /* list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: black; */
    /* font-size: 16px;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
} */

/* .nav-link {
    color: rgb(211, 22, 22);
    font-size: 16PX;
    font-family: poppins;
    font-weight: 600;
} */
/* .nav-link:hover {
    background-color: rgb(8, 8, 96);
    border-top: 3px dashed rgb(255, 157, 0);
    border-bottom: 4px solid rgb(255, 157, 0);
    color: #ffffff;
}  */

/* .......BUTTON............. */
/* #btn {
    width: 15%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

#btn button {
    position: absolute;
    padding: 10px 30px;
    float: left;
    background-color: rgb(8, 8, 96);
    text-decoration: none;
    font-size: 17px;
    font-family: poppins;
    font-weight: 600;
    border: 3px dashed rgb(255, 174, 0);
    border-radius: 20px;
    animation-name: enquirybtn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    text-shadow: 2px 2px 8px #ffae00;
}

@keyframes enquirybtn {
    0% {
        right: 13px
    }

    50% {
        right: -13px;
    }

    100% {
        right: 13px;
    }
}

button a {
    color: aliceblue;

}

#btn button:hover {
    background-color: rgb(255, 174, 0);
    background-size: cover;
    border: 3px dashed rgb(255, 255, 255);
} */

/* ...............HEADER END.................. */